html{
    font-size: 32px;
    box-sizing: border-box;
}

body {
    /* background-color: #360546; */
    background-attachment: fixed;
    margin: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(#b3b3ff,#800080, #360546)
}

.fade-out{
    opacity: 0;
    transition: all 1s ease;
}

.fade-in{
    opacity: 1;
    transition: all 1s ease;
}

.title h1 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 100%;
}
.title {
    text-align: center;
    width: 100%;
    height: 2rem;
    margin: 2rem 0 1rem 0;
    position: relative;
}

.form-layout {
    width: 33%;
    margin: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.input-question {
    width: 100%;
    position: relative;
}

.ask-button {
    width: 2.5rem;
    position: relative;
    font-weight: 500;
}
.image-position {
    position: relative;
    width: 33%;
    left: 33%;
    margin-bottom: 1rem;
    text-align: center;
}

.image-position img {
    max-width: 100%;
    height: auto;
}

.display-question {
    position: relative;
    width: 33%;
    left: 33%;
    text-align: center;
    color: white;
    z-index: 2;
    top: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.answer-image{
    position: relative;
    top: 3rem;
}